# Simulation Configuration
INITIAL_POOL_DDT=1000
INITIAL_POOL_XDAI=1000
TOTAL_STEPS=100
STEPS_BEFORE_ORGS=30
FEE_RATE=0.003
DEGEN_ENTRY_PRICE=0.05
MAX_DEGENS=40

# Degen User Configuration
DEGEN_COUNT=5
DEGEN_INITIAL_DDT=100
DEGEN_INITIAL_XDAI=10
DEGEN_INITIAL_LIQUIDITY=10
DEGEN_REINVEST_RATE=0.5

# Organization Configuration
ORG_COUNT=5
ORG_INITIAL_XDAI=1000000
ORG_DAILY_DDT_BUY=2

# Power User Configuration
POWER_USER_COUNT=5
POWER_USER_INITIAL_DDT=100
POWER_USER_INITIAL_XDAI=1000
POWER_USER_DAILY_SPEND=2

# Active User Configuration
ACTIVE_USER_COUNT=30
ACTIVE_USER_INITIAL_DDT=100
ACTIVE_USER_INITIAL_XDAI=100
ACTIVE_USER_DAILY_SPEND=1

# Casual User Configuration
CASUAL_USER_COUNT=20
CASUAL_USER_INITIAL_DDT=100
CASUAL_USER_INITIAL_XDAI=100
CASUAL_USER_DAILY_SPEND=1
CASUAL_USER_KEEP_DDT=20
