# Simulation Configuration
INITIAL_POOL_TOKENS=1000
INITIAL_POOL_DOLLARS=1000
TOTAL_STEPS=100
STEPS_BEFORE_ORGS=30
FEE_RATE=0.003
DEGEN_ENTRY_PRICE=0.05
MAX_DEGENS=40

# Degen User Configuration
DEGEN_COUNT=5
DEGEN_INITIAL_TOKENS=100
DEGEN_INITIAL_DOLLARS=10
DEGEN_INITIAL_LIQUIDITY=10
DEGEN_REINVEST_RATE=0.5

# Org Agent Configuration
ORG_COUNT=5
ORG_INITIAL_DOLLARS=1000000
ORG_DAILY_TOKEN_BUY=2

# Power User Configuration
POWER_USER_COUNT=5
POWER_USER_INITIAL_TOKENS=100
POWER_USER_INITIAL_DOLLARS=1000
POWER_USER_DAILY_SPEND=2

# Most Active User Configuration
MOST_ACTIVE_COUNT=30
MOST_ACTIVE_INITIAL_TOKENS=100
MOST_ACTIVE_INITIAL_DOLLARS=100
MOST_ACTIVE_DAILY_SPEND=1

# Least Active User Configuration
LEAST_ACTIVE_COUNT=20
LEAST_ACTIVE_INITIAL_TOKENS=100
LEAST_ACTIVE_INITIAL_DOLLARS=100
LEAST_ACTIVE_DAILY_SPEND=1
LEAST_ACTIVE_KEEP_TOKENS=20
